.filter {
    display: flex;
    justify-content: right;

    .filter-right {
        display: flex;

        input[type="text"] {
            margin-right: 12px;
            max-width: 300px;
        }

        button {
            margin-right: 0;
        }
    }
}

div.button {
    margin-right: 12px;
    display: inline-block;

    &.inactive {
        &:hover {
            cursor: default;
        }

        svg {
            fill: gray;
        }
    }

    &:hover {
        cursor: pointer;
    }

    svg {
        fill: var(--accent);
    }
}
