<div class="filter">
    <input class="search-term" type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchTermUpdated()"
           [placeholder]="'COMPONENTS.FILTER.SEARCH' | translate">

    <hr>

    <h2>{{ 'COMPONENTS.FILTER.START_DATE' | translate }}</h2>
    <ngb-datepicker [(ngModel)]="selectedStartDate" (dateSelect)="dateSelected($event)"></ngb-datepicker>

    <hr>

    <h2>{{ 'COMPONENTS.FILTER.REGION' | translate }}</h2>
    <div class="tags">
        <ng-container *ngFor="let region of regions">
                    <span class="tag-element" [class.active]="selectedRegionIds.includes(region.id)"
                          (click)="toggleRegion(region.id)">{{ region.name }}</span><br>
        </ng-container>
    </div>

    <hr>

    <h2>{{ 'COMPONENTS.FILTER.GENRE' | translate }}</h2>
    <div class="tags">
        <ng-container *ngFor="let genre of genres">
                    <span class="tag-element" [class.active]="selectedGenreIds.includes(genre.id)"
                          (click)="toggleGenre(genre.id)">{{ genre.name }}</span><br>
        </ng-container>
    </div>

    <hr>

    <button type="button" class="clndr accent" (click)="resetFilters()">
        {{ 'COMPONENTS.FILTER.DELETE_FILTER' | translate }}
    </button>
    <button type="button" class="clndr accent" (click)="close()">
        {{ 'COMPONENTS.FILTER.ABO_FILTER' | translate }}
    </button>
</div>
