<div class="filter">
    <input class="search-term" type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchTermUpdated()"
           placeholder="tschertgar">

    <hr>

    <h2>data d’entschatta</h2>
    <ngb-datepicker [(ngModel)]="selectedStartDate" (dateSelect)="dateSelected($event)"></ngb-datepicker>

    <hr>

    <h2>regiun</h2>
    <div class="tags">
        <ng-container *ngFor="let region of regions">
                    <span class="tag-element" [class.active]="selectedRegionIds.includes(region.id)"
                          (click)="toggleRegion(region.id)">{{ region.name }}</span><br>
        </ng-container>
    </div>

    <hr>

    <h2>gener</h2>
    <div class="tags">
        <ng-container *ngFor="let genre of genres">
                    <span class="tag-element" [class.active]="selectedGenreIds.includes(genre.id)"
                          (click)="toggleGenre(genre.id)">{{ genre.name }}</span><br>
        </ng-container>
    </div>

    <hr>

    <button type="button" class="clndr accent" (click)="resetFilters()">
        stizzar il filter
    </button>
    <button type="button" class="clndr accent" (click)="close()">
        abunar quest filter
    </button>
</div>
