<form [formGroup]="ufs.f" *ngIf="this.ufs.isInitialized">
    <div class="mb-3">
        <label for="email" class="form-label">Adressa dad e-mail</label>
        <input type="email" id="email" name="email" class="form-control" formControlName="email">
    </div>

    <div class="mb-3">
        <label for="firstName" class="form-label">Prenum</label>
        <input type="text" id="firstName" name="firstName" class="form-control" formControlName="firstName"
               [class.is-invalid]="ufs.isFieldInvalid('firstName')">
        <div class="invalid-feedback" *ngIf="ufs.isFieldInvalid('firstName')">
            Endatescha p.pl. in prenum.
        </div>
    </div>

    <div class="mb-3">
        <label for="lastName" class="form-label">Num</label>
        <input type="text" id="lastName" name="lastName" class="form-control" formControlName="lastName"
               [class.is-invalid]="ufs.isFieldInvalid('lastName')">
        <div class="invalid-feedback" *ngIf="ufs.isFieldInvalid('lastName')">
            Endatescha p.pl. in num.
        </div>
    </div>

    <div class="mb-3">
        <label for="organisation" class="form-label">Organisaziun (facultativ)</label>
        <input type="text" id="organisation" name="organisation" class="form-control"
               formControlName="organisation">
    </div>

    <div class="mb-3" *ngIf="ufs.isAdmin">
        Rollas:
        <div *ngFor="let role of roles; let i=index" class="col-md-2">
            <label>
                <input type="checkbox" [value]="role.value" (change)="onCheckChange($event)"
                       [checked]="containsValue(role.value)" id="role-{{i}}">
                {{role.description}}
            </label>
        </div>
    </div>

</form>
