@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.evt {
    &:hover {
        text-decoration: none;
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: 5fr 4fr 1fr 2fr;
    }
}

.title {
    color: black;
    font-family: 'CadizBlack', sans-serif;

    @include media-breakpoint-up(md) {

    }

    .cancelled {
        background-color: #E42F2F;
        color: white;
        padding: 1px 3px;
    }
}

.location {
    color: black;

    @include media-breakpoint-up(md) {
        padding-left: 15px;
    }
}

.time {
    display: none;
    color: black;
    padding-left: 15px;

    @include media-breakpoint-up(md) {
        display: block;
    }
}

.infos {
    display: flex;

    @include media-breakpoint-up(md) {
        padding-left: 15px;
    }

    .inline-time {
        color: black;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .tags {
        flex-grow: 1;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: flex-end;
    align-items: flex-start;

    @include media-breakpoint-up(md) {
        justify-content: unset;
    }

    .tag {
        background-color: var(--accent);
        color: white;
        padding: 2px 7px;
        font-size: 0.85rem;
        margin-right: 6px;
        margin-bottom: 6px;

        @include media-breakpoint-up(lg) {
            font-size: 1rem;
        }
    }
}
