@if (event) {
  <a class="evt" [routerLink]="'/' + event.eventId" [class.first]="isFirst">
    <div class="title">
      {{ event.title }}
      @if (event.isCancelled) {
        <span class="cancelled">{{ 'EVENT_DETAILS.CANCELLED' | translate }}</span>
      }
    </div>
    <div class="location">
      {{ event.location }}
      @if (!event.location && event.onlineOnly) {
        online
      }
    </div>
    <div class="time">{{ event.start ? event.start : 'tuttadi' }}</div>
    <div class="infos">
      <span class="inline-time">{{ event.start ? event.start : 'tuttadi' }}</span>
      <div class="tags">
        @for (tag of event.genres; track tag) {
          <div class="tag">{{ tag.name }}</div>
        }
      </div>
    </div>
  </a>
}
