<section class="content-narrow">
  <h1>S’annunziar</h1>

  @if (errorMessage) {
    <ngb-alert [type]="'danger'" [dismissible]="false">
      <b>{{ errorMessage.title }}.</b>
      {{ errorMessage.message }}
    </ngb-alert>
  }

  <form [formGroup]="f" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="email" class="form-label">Adressa dad e-mail</label>
      <input type="email" id="email" name="email" class="form-control" formControlName="email"
        [class.is-invalid]="isFieldInvalid('email')">
      @if (isFieldInvalid('email')) {
        <div class="invalid-feedback">
          Endatescha tia adressa dad e-mail.
        </div>
      }
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Pled-clav</label>
      <input type="password" id="password" name="password" class="form-control" formControlName="password"
        [class.is-invalid]="isFieldInvalid('password')">
      @if (isFieldInvalid('password')) {
        <div class="invalid-feedback">
          Endatescha tes pled-clav.
        </div>
      }
    </div>

    <div class="flex justify-content-end">
      <button type="submit" class="clndr accent" (click)="login()">S’annunziar</button>
    </div>
  </form>

  <div class="links">
    <a [routerLink]="'/user/register'">Crear in conto</a>
    <a [routerLink]="'/user/forgot-password'">Emblidà il pled-clav</a>
  </div>
</section>

