<div class="modal-body">
  @if (type === 'event') {
    <p>{{ 'COMPONENTS.MODALS.DELETE_EVENT.TITLE' | translate:{eventTitle: event?.title ? event?.title : 'nunenconuschent'} }}</p>
  }
  @if (type === 'notice') {
    <p>{{ 'COMPONENTS.MODALS.DELETE_NOTICE.TITLE' | translate:{noticeTitle: event?.title ? event?.title : 'nunenconuschent'} }}</p>
  }

  <button type="button" class="clndr" (click)="activeModal.dismiss('Save click')">
    {{ 'COMPONENTS.MODALS.DELETE_EVENT.CANCEL' | translate }}
  </button>
  <button type="button" class="clndr accent" (click)="activeModal.close('delete')">
    {{ 'COMPONENTS.MODALS.DELETE_EVENT.DELETE' | translate }}
  </button>
</div>
