<section class="content-narrow">
    <h1>Midar tes pled-clav</h1>

    <ng-container *ngIf="isCodeEmpty">
        <ngb-alert [type]="'danger'" [dismissible]="false">
            <b>Nagin token</b>
            Il link na cuntegna nagin token.
        </ngb-alert>
    </ng-container>

    <ng-container *ngIf="!isCodeEmpty">
        <ng-container *ngIf="errorMessage">
            <ngb-alert [type]="'danger'" [dismissible]="false">
                <b>{{ errorMessage.title }}.</b>
                {{ errorMessage.message }}
            </ngb-alert>
        </ng-container>

        <form [formGroup]="f" (ngSubmit)="changePassword()">
            <div class="mb-3">
                <label for="password" class="form-label">Pled-clav</label>
                <input type="password" id="password" name="password" class="form-control" formControlName="password"
                       [class.is-invalid]="isFieldInvalid('password')">
                <div class="invalid-feedback" *ngIf="isFieldInvalid('password')">
                    <ng-container *ngIf="isFieldError('password', 'required')">
                        Endatescha in pled-clav.
                    </ng-container>
                    <ng-container *ngIf="isFieldError('password', 'minlength')">
                        Il pled-clav sto avair ina lunghezza dad almain 8 caracters.
                    </ng-container>
                </div>
            </div>

            <div class="flex justify-content-end">
                <button type="button" class="clndr accent" (click)="changePassword()">Midar il pled-clav</button>
            </div>
        </form>
    </ng-container>
</section>
