.options {
    padding-top: 4rem;
}

.option {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;

    &:nth-of-type(1) {
        padding-right: 20px;
        border-right: 1px solid #BBBFC2;
    }

    &:nth-of-type(2) {
        padding-left: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }
}
