<div class="links">
    <a [routerLink]="'/imprint'">impressum</a>
    <a [routerLink]="'/privacy'">protecziun da datas</a>
</div>

<div class="logos">
    <span>purtaders</span>
    <a href="https://www.uniun-urb.ch/" target="_blank">
        <img src="assets/images/logos/URB_Logo_sw%201.png" alt="logo URB">
    </a>
    <a href="https://www.rtr.ch/" target="_blank">
        <img src="assets/images/logos/radiotelevisiun-svizra-rumantscha-rtr-logo-vector%201.png" alt="logo RTR">
    </a>
    <a href="https://www.far.ch/" target="_blank">
        <span class="logo-far">far.ch</span>
    </a>
</div>
