<div class="close-button" (click)="close()">
    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="4.06641" y="28.749" width="35" height="3" rx="1.5" transform="rotate(-45 4.06641 28.749)"
              fill="#1C2B33"/>
        <rect x="6.18555" y="4.06494" width="35" height="3" rx="1.5" transform="rotate(45 6.18555 4.06494)"
              fill="#1C2B33"/>
    </svg>
</div>

<div class="content">
    <h1>Cundiziuns d’utilisaziun</h1>
    <p>Chara utilisadra e char utilisader da chalender.ch! </p>
    <p>Nus avain plaschair che Vus plazzais Voss commentaris ed annunziais vossas occurrenzas sin nossas plattafurmas.
        En connex cun quests commentaris e cun questas occurrenzas ans stattan suandantas chaussas a cor: </p>
    <p>Restai tar il tema, mantegnai l’amiaivladad: nus dain gronda paisa ad in stil neutral ed ad in tun constructiv
        senza expressiuns offendentas. </p>
    <p>La redacziun examinescha Voss commentaris e Vossas occurrenzas: en cas excepziunals po la controlla durar
        intginas uras. Sche nus refusain Voss commentari/ occurrenza, As infurmain nus per e-mail. Nus na pudain però
        manar nagina correspundenza detagliada davart commentaris/occurrenzas publitgads u renviads. La notg na mettain
        nus online nagins commentaris ubain occurrenzas. </p>
    <p>Voss inputs èn impurtants per nus: Vus faschais propostas per temas u contribuis Vossa expertisa spezialisada,
        renviais nus a sbagls u remartgais, sche nus avain emblidà in aspect en noss rapports. Nus avain la finamira
        d’ans barattar cun Vus. Nus lain dar a Vus, charas utilisadras e chars utilisaders, ina vusch sin nossas
        plattafurmas.</p>
    <p>I na dat nagin dretg da publicaziun: sche nus constatain ch’insatgi cuntrafa repetidamain a la netichetta, èsi
        pussaivel che nus bloccain temporarmain in conto. </p>
    <p>Resguardai per plaschair las suandantas normas per Voss commentaris u Vossas occurrenzas: </p>
    <ul>
        <li>Vus avais As annunzià cun prenum e num e na duvrais nagins nums da fantasia.</li>
        <li>Vus na derasais naginas infurmaziuns falladas.</li>
        <li>Ils cuntegns ston avair in connex cun il tema.</li>
        <li>Nus na publitgain nagins commentaris ubain occurrenzas offendentas, surtut sch’els discrimineschan autras
            persunas sin fundament da la religiun, da la naziunalitad, da caracteristicas fisionomicas, da la derivanza
            etnica, da caracteristicas culturalas (lingua, num), da l’orientaziun sexuala, da la tenuta politica, da la
            vegliadetgna, da restricziuns, da la derivanza sociala u da la schlattaina.
        </li>
        <li>Occurrenzas ubain commentaris che cuntegnan reclama commerziala ubain politica na publitgain nus betg.</li>
        <li>Cuntegns illegals allontanain nus.</li>
        <li>Nus na pudain betg controllar tut ils cuntegns colliads. Perquai resalvain nus il dretg da betg publitgar
            commentaris ubain occurrenzas che cuntegnan colliaziuns.
        </li>
    </ul>
    <h2>Infurmaziuns giuridicas: </h2>
    <p>Tut las utilisadras e tut ils utilisaders surpiglian sezzas/sezs la responsabladad per lur contribuziuns.
        Cun cundivider Voss cuntegns sin noss chanals essas Vus d’accord che Voss messadis èn accessibels publicamain –
        era sin websites e purschidas da terzas partidas – e pon vegnir citads cun num.</p>
</div>
