<section class="content-narrow">
    <h1>Midar il pled-clav</h1>

    <ng-container *ngIf="showSuccess">
        <ngb-alert [type]="'success'">
            <b>Acualisà il pled-clav.</b>
            Il pled-clav è vegnì actualisà cun success.
        </ngb-alert>
    </ng-container>

    <ng-container *ngIf="showError">
        <ngb-alert [type]="'danger'">
            <b>Errur cun actualisar.</b>
            Ina errur è cumparida cun actualisar il pled-clav. Emprova pli tard anc ina giada.
        </ngb-alert>
    </ng-container>

    <form [formGroup]="f">
        <div class="mb-3">
            <label for="current" class="form-label">Pled-clav actual</label>
            <input type="password" id="current" name="current" class="form-control" formControlName="current"
                   [class.is-invalid]="isFieldInvalid('current')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('current')">
                Endatescha tes pled-clav actual.
            </div>
        </div>

        <div class="mb-3">
            <label for="newPassword" class="form-label">Pled-clav nov</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control"
                   formControlName="newPassword"
                   [class.is-invalid]="isFieldInvalid('newPassword')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('newPassword')">
                Endatescha tes pled-clav nov cun almain 8 caracters.
            </div>
        </div>

        <div class="mb-3">
            <label for="newPasswordRepeat" class="form-label">Repeter il pled-clav nov</label>
            <input type="password" id="newPasswordRepeat" name="newPasswordRepeat" class="form-control"
                   formControlName="newPasswordRepeat"
                   [class.is-invalid]="isFieldInvalid('newPasswordRepeat')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('newPasswordRepeat')">
                Ils pleds-clav novs na correspundan betg.
            </div>
        </div>


        <div class="flex justify-content-end">
            <button type="button" class="clndr accent" (click)="update()" [disabled]="didSubmit">
                Midar il pled-clav
            </button>
        </div>
    </form>
</section>
