<div class="overlay" (click)="toggleMenu()" [class.active]="isMenuOpen"></div>

<div class="name">
    <a href="/">CHALENDER.CH</a>
</div>

<div class="short-menu">
    <ul>
        <li><a href="/">occurrenzas</a></li>
        <li><a href="#">tavla naira</a></li>
    </ul>
</div>
<div class="menu">
    <div>
        <button id="menu-button" [class.opened]="isMenuOpen" (click)="toggleMenu()">
            <svg width="60" height="60" viewBox="0 0 100 100">
                <path class="line line1"
                      d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
                <path class="line line2" d="M 20,50 H 80"/>
                <path class="line line3"
                      d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
            </svg>
        </button>
    </div>
</div>


<div id="main-menu" class="container" [class.active]="isMenuOpen">
    <div class="content">
        <ul class="main-menu-top">
            <li><a (click)="toggleMenu()" [routerLink]="'/'">occurrenzas</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/help'">agid</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/contact'">contact</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/organisation'">purtaders</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/imprint'">impressum</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/privacy'">protecziun da datas</a></li>
        </ul>

        <ul class="main-menu-bottom" *ngIf="authService.isLoggedIn()">
            <li><a (click)="toggleMenu()" [routerLink]="'/admin/events/new'">registrar in'occurrenza</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/admin/events'">mias occurrenzas</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/admin/subscriptions'">mes abunaments</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/admin/profile'">mes profil</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/u/logout'">sortir</a></li>
            <li *ngIf="authService.isModerator() || authService.isAdmin()" class="section-title">
                <hr>
                administraziun
            </li>
            <li *ngIf="authService.isModerator()">
                <a (click)="toggleMenu()" href="/moderator/events">occurrenzas</a>
            </li>
            <li *ngIf="authService.isAdmin()">
                <a (click)="toggleMenu()" href="/administrator/users">utilisaders</a>
            </li>
        </ul>

        <ul class="main-menu-bottom" *ngIf="!authService.isLoggedIn()">
            <li><a (click)="toggleMenu()" [routerLink]="'/u/login'">login</a></li>
            <li><a (click)="toggleMenu()" [routerLink]="'/u/events'">registrar in'occurrenza</a></li>
        </ul>
    </div>
</div>
