<div class="filter-menu" *ngIf="iframeService.isShowSearchValue() || iframeService.isShowViewSelectionValue()">
    <button class="filter-button d-none d-md-block" (click)="openDesktopFilter()"
            [class.active]="noticesFilterService.numberOfFilters > 0"
            *ngIf="iframeService.isShowSearchValue()">
        <span class="txt"
              *ngIf="noticesFilterService.isFilterCollapsed">{{ 'EVENT_LIST.SHOW_FILTER' | translate }}</span>
        <span class="txt"
              *ngIf="!noticesFilterService.isFilterCollapsed">{{ 'EVENT_LIST.HIDE_FILTER' | translate }}</span>
        <span class="counter" *ngIf="noticesFilterService.numberOfFilters > 0">
            {{ noticesFilterService.numberOfFilters }}
        </span>
    </button>

    <app-view-selection *ngIf="iframeService.isShowViewSelectionValue()" type="notices"></app-view-selection>

    <button class="filter-button d-md-none" (click)="openMobileFilter()"
            [class.active]="noticesFilterService.numberOfFilters > 0"
            *ngIf="iframeService.isShowSearchValue()">
        <span class="txt">{{ 'EVENT_LIST.SHOW_FILTER' | translate }}</span>
        <span class="counter" *ngIf="noticesFilterService.numberOfFilters > 0">
            {{ noticesFilterService.numberOfFilters }}
        </span>
    </button>
</div>

<ul *ngIf="notices.length > 0">
    <li *ngFor="let notice of notices; let i = index">
        <app-notice-list-item [notice]="notice" [isFirst]="i === 0"></app-notice-list-item>
    </li>
</ul>

<ng-container *ngIf="notices.length === 0 && !noticesFilterService.isSearching">
    <app-no-notices></app-no-notices>
</ng-container>

<div class="text-center pb-5" *ngIf="noticesFilterService.hasMorePages">
    <button class="clndr accent load-next-page" (click)="noticesFilterService.loadNextPage()"
            [disabled]="noticesFilterService.isSearching">{{ 'NOTICE_LIST.LOAD_MORE' | translate }}
    </button>
</div>
