<section class="content-narrow">
    <h1>{{ 'ORGANISATION.TITLE' | translate }}</h1>
    <div class="logos">
        <a href="https://www.uniun-urb.ch/" target="_blank">
            <img src="assets/images/logos/urb_orig.jpeg" alt="Logo URB">
        </a>
        <a href="https://www.rtr.ch/" target="_blank">
            <img src="assets/images/logos/rtr_orig.png" alt="Logo RTR">
        </a>
        <a href="https://www.far.ch/" target="_blank">
            <img src="assets/images/logos/far_orig.svg" alt="Logo far ScRL">
        </a>
    </div>
    <p class="mt-5">Cun sustegn da:</p>
    <div class="logos">
        <img class="ufc" src="assets/images/logos/ufc.png" alt="Logo UfC">
        <img class="lr" src="assets/images/logos/lr.svg" alt="Logo Lia Rumantscha">
    </div>
</section>
