<section class="content-narrow">
    <h1>{{ 'ORGANISATION.TITLE' | translate }}</h1>
    <div class="logos">
        <a href="https://uniun-urb.clubdesk.com/" target="_blank">
            <img src="assets/images/logos/urb_orig.jpeg" alt="Logo URB">
        </a>
        <a href="https://www.far.ch/" target="_blank">
            <img src="assets/images/logos/far_orig.svg" alt="Logo far ScRL">
        </a>
        <a href="https://www.rtr.ch/" target="_blank">
            <img src="assets/images/logos/rtr_orig.png" alt="Logo RTR">
        </a>
    </div>
    <p class="mt-5">Cun sustegn da:</p>
    <div class="logos-support">
        <a href="https://www.bak.admin.ch/bak/rm/home.html" target="_blank">
            <img class="ufc" src="assets/images/logos/ufc.png" alt="Logo UfC">
        </a>
        <a href="https://www.liarumantscha.ch/rm" target="_blank">
            <img class="lr" src="assets/images/logos/lr.svg" alt="Logo Lia Rumantscha">
        </a>
        <a href="https://www.giuru.ch" target="_blank">
            <img class="giuru" src="assets/images/logos/giuru-rgb-sw.svg" alt="Logo Giuventetgna Rumantscha (GiuRu)">
        </a>
    </div>
</section>
