<section class="content-narrow">
    <h1>Contact</h1>

    <app-contact-form/>

    <br><br>
    
    <h1>Impressum</h1>

    <h2>Responsabladad generala:</h2>
    <p>
        Uniun da las Rumantschas <br>
        e dals Rumantschs en la Bassa<br>
        Roman Pfister<br>
        Zimikerried 11<br>
        8603 Schwerzenbach<br>
        <a href="mailto:info@chalender.ch" target="_blank">info@chalender.ch</a><br>
    </p>
    <br>

    <h2>Creaziun e svilup:</h2>
    <p>
        Programmaziun e concept: far GmbH, <a href="https://www.far.ch" target="_blank">www.far.ch</a><br>
        Design e concept: David Bühler, <a href="https://www.davidbuehler.ch" target="_blank">www.davidbuehler.ch</a>
    </p>
    <br><br>
</section>
