<section class="content-narrow">
    <h1>Contact ed impressum</h1>

    <p>Tar dumondas davart il cuntegn ed la moderaziun da quel pudais Vus gugent contactar:</p>

    <p>
        RTR Radiotelevisiun Svizra Rumantscha<br>
        Via da Masans 2<br>
        7000 Cuira<br>
        Tel. 058 136 30 00<br>
        <a href="mailto:stab.program@rtr.ch" target="_blank">stab.program@rtr.ch</a><br>
        <a href="https://www.rtr.ch" target="_blank">www.rtr.ch</a>
    </p>

    <p style="margin-top: 3rem;">Autras dumondas en connex cun la pagina pudais Vus trametter a:</p>

    <p>
        Uniun da las Rumantschas <br>
        e dals Rumantschs en la Bassa<br>
        Roman Pfister<br>
        Zimikerried 11<br>
        8603 Schwerzenbach<br>
        <a href="mailto:roman.pfister@uniun-urb.clubdesk.com"
           target="_blank">roman.pfister@uniun-urb.clubdesk.com</a><br>
        <a href="https://www.uniun-urb.ch" target="_blank">www.uniun-urb.ch</a>
    </p>
</section>
