.filter {
    ngb-datepicker {
        border: none;

        .ngb-dp-header, .ngb-dp-weekdays {
            background-color: unset;
        }

        .ngb-dp-weekdays {
            border-bottom: 0;
        }

        .ngb-dp-weekday {
            color: #3C3C4399;
            font-style: unset;
        }

        .ngb-dp-arrow-btn {
            color: var(--accent);
        }

        select.form-select:first-of-type {
            margin-right: 2px;
        }

        div.ngb-dp-day div.btn-light.bg-primary {
            background-color: var(--accent) !important;
            border-radius: 20px;
        }

        [ngbDatepickerDayView]:hover:not(.bg-primary),
        [ngbDatepickerDayView].active:not(.bg-primary) {
            background-color: var(--accent-60);
            outline: none;
            border-radius: 20px;
        }

        ngb-datepicker-navigation {
            display: flex;

            .ngb-dp-month-name {
                order: 1;
                flex-grow: 1;
                background-color: unset;
                font-family: "CadizBlack", sans-serif;
                text-align: left;
            }

            .ngb-dp-arrow-prev {
                order: 2;
                flex-grow: 0;
            }

            .ngb-dp-arrow-next {
                order: 3;
                flex-grow: 0;
            }
        }

        &.no-navigation {
            ngb-datepicker-navigation {
                display: none;
            }
        }
    }
}
