.filter {
    ngb-datepicker {
        border: none;

        .ngb-dp-header, .ngb-dp-weekdays {
            background-color: unset;
        }

        .ngb-dp-weekdays {
            border-bottom: 0;
        }

        .ngb-dp-weekday {
            color: #3C3C4399;
            font-style: unset;
        }

        .ngb-dp-arrow-btn {
            color: var(--accent);
        }

        select.form-select:first-of-type {
            margin-right: 2px;
        }

        div.ngb-dp-day div.btn-light.bg-primary {
            background-color: var(--accent) !important;
            border-radius: 20px;
        }

        [ngbDatepickerDayView]:hover:not(.bg-primary),
        [ngbDatepickerDayView].active:not(.bg-primary) {
            background-color: var(--accent-60);
            outline: none;
            border-radius: 20px;
        }

        .ngb-dp-today {
            color: var(--accent);
        }

        &.no-navigation {
            ngb-datepicker-navigation {
                display: none;
            }
        }

        &.full-width {
            width: 100%;

            .ngb-dp-month {
                width: 100%;

                div.ngb-dp-weekday {
                    width: calc(100% / 7);
                }

                div.ngb-dp-day {
                    width: calc(100% / 7);
                    text-align: center;
                    display: flex;
                    justify-content: center;

                    .btn-light {
                        min-width: 32px;
                    }

                    [ngbdatepickerdayview] {
                        width: calc(100% / 7);
                    }
                }
            }
        }
    }
}
