@font-face {
    font-family: 'Cadiz';
    src: url('/assets/fonts/Cadiz-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CadizBlack';
    src: url('/assets/fonts/Cadiz-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

* {
    font-variant-ligatures: none;
}
