@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';


.offcanvas.menu-panel {
    height: 100vh !important;
    background-color: var(--accent);

    @include media-breakpoint-up(md) {
        height: auto !important;
        bottom: unset !important;
    }

    .menu {
        display: flex;
        flex-direction: column;
        scrollbar-width: none;
        overflow-y: auto;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            inset: 100px;
            max-width: 1200px;
            margin: 0 auto;
            padding: 6rem 0;
            gap: 60px;
        }

        @include media-breakpoint-up(lg) {
            gap: 200px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 2rem;
            font-size: 1.3rem;
            line-height: 2rem;
            flex-grow: 1;

            @include media-breakpoint-up(md) {
                font-size: 2rem;
                line-height: 2.25rem;
            }

            @include media-breakpoint-up(lg) {
                padding: unset;
            }
        }

        ul:nth-of-type(2) {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        a {
            color: white;
            text-decoration: none;
            border-bottom: 3px solid rgb(255, 255, 255, 0);
            transition: all .3s ease-in-out;

            &:hover {
                border-bottom: 3px solid rgb(255, 255, 255, 1);
                text-decoration: none;
            }
        }

        .main-menu-top {
            font-family: CadizBlack, sans-serif;

            li {
                padding-bottom: 0.5rem;
            }
        }

        .main-menu-bottom {
            font-family: Cadiz, sans-serif;

            a {
                border-bottom: 1px solid rgb(255, 255, 255, 0);

                &:hover {
                    border-bottom: 1px solid rgb(255, 255, 255, 1);
                }
            }
        }
    }
}

.offcanvas.showing, .offcanvas.show:not(.hiding) {
    transform: none;
    box-shadow: 0 0 32px 12px rgba(0, 0, 0, 0.3);
    border-bottom: none;
}
