<section class="content-narrow">
    <h1>Midar il pled-clav</h1>

    <ng-container *ngIf="showMessage">
        <ngb-alert [type]="message.type">
            <b>{{ message.title }}.</b>
            {{ message.message }}
        </ngb-alert>
    </ng-container>

    <form [formGroup]="f">
        <div class="mb-3">
            <label for="current" class="form-label">Pled-clav actual</label>
            <input type="password" id="current" name="current" class="form-control" formControlName="current"
                   [class.is-invalid]="isFieldInvalid('current')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('current')">
                Endatescha tes pled-clav actual.
            </div>
        </div>

        <div class="mb-3">
            <label for="newPassword" class="form-label">Pled-clav nov</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control"
                   formControlName="newPassword"
                   [class.is-invalid]="isFieldInvalid('newPassword')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('newPassword')">
                <ng-container *ngIf="isFieldError('newPassword', 'required')">
                    Endatescha in pled-clav nov.
                </ng-container>
                <ng-container *ngIf="isFieldError('newPassword', 'minlength')">
                    Il pled-clav nov sto avair ina lunghezza dad almain 8 caracters.
                </ng-container>
            </div>
        </div>

        <div class="mb-3">
            <label for="newPasswordRepeat" class="form-label">Repeter il pled-clav nov</label>
            <input type="password" id="newPasswordRepeat" name="newPasswordRepeat" class="form-control"
                   formControlName="newPasswordRepeat"
                   [class.is-invalid]="isFieldInvalid('newPasswordRepeat')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('newPasswordRepeat')">
                Ils pleds-clav novs na correspundan betg.
            </div>
        </div>


        <div class="buttons">
            <button type="button" class="clndr" (click)="cancel()" [disabled]="didSubmit">
                Interrumper
            </button>
            <button type="button" class="clndr accent" (click)="update()" [disabled]="didSubmit">
                Midar il pled-clav
            </button>
        </div>
    </form>
</section>
