@if (status === 'DRAFT') {
  <span class="badge draft">
    {{ 'COMPONENTS.STATUS.DRAFT' | translate }}
  </span>
}
@if (status === 'IN_REVIEW') {
  <span class="badge in-review">
    {{ 'COMPONENTS.STATUS.IN_REVIEW' | translate }}
  </span>
}
@if (status === 'PUBLISHED') {
  <span class="badge published">
    {{ 'COMPONENTS.STATUS.PUBLISHED' | translate }}
  </span>
}
@if (status === 'NEW_MODIFICATION') {
  <span class="badge new-modification">
    {{ 'COMPONENTS.STATUS.NEW_MODIFICATION' | translate }}
  </span>
}
@if (status === 'REJECTED') {
  <span class="badge rejected">
    {{ 'COMPONENTS.STATUS.REJECTED' | translate }}
  </span>
}
@if (status === 'INVALID') {
  <span class="badge invalid">
    {{ 'COMPONENTS.STATUS.INVALID' | translate }}
  </span>
}
