<div class="view-selection">
    <div class="style-button" (click)="selectView('cards')" placement="bottom-right" ngbTooltip="Vista grafica">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect x="13" y="3" width="8" height="8" rx="1" fill="#3CBFA4"/>
            <rect x="2" y="3" width="8" height="8" rx="1" fill="#3CBFA4"/>
            <rect x="2" y="13" width="8" height="8" rx="1" fill="#3CBFA4"/>
            <rect x="13" y="13" width="8" height="8" rx="1" fill="#3CBFA4"/>
        </svg>
    </div>
    <div class="style-button" (click)="selectView('list')" placement="bottom-right" ngbTooltip="Vista tabellara">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M8 6H21" stroke="#1C2B33" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 12H21" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8 18H21" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3 6H3.01" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3 12H3.01" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3 18H3.01" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8 6H21" stroke="#1C2B33" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 12H21" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M8 18H21" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3 6H3.01" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3 12H3.01" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M3 18H3.01" stroke="#1C2B33" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
        </svg>
    </div>
</div>
