<div class="filter-area d-none d-md-block" [class.show]="!eventsFilterService.isFilterCollapsed"
     *ngIf="iframeService.isShowSearchValue()" filterScrollPosition>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="eventsFilterService.isFilterCollapsed"
         [horizontal]="true" class="filter">
        <app-event-filter
            [resetFilterCommand]="resetFiltersCommandSubject.asObservable()"
            [createSubscriptionCommand]="createSubscriptionCommandSubject.asObservable()"
        ></app-event-filter>

        <div class="buttons">
            <div class="button-row">
                <button type="button" class="clndr accent" (click)="resetFilters()"
                        [disabled]="eventsFilterService.numberOfFilters === 0">
                    {{ 'COMPONENTS.FILTER.DELETE_FILTER' | translate }}
                </button>
                <button type="button" class="clndr accent" (click)="createSubscription()">
                    {{ 'COMPONENTS.FILTER.ABO_FILTER' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="events" [class.no-filter]="!iframeService.isShowSearchValue() || eventsFilterService.isFilterCollapsed">
    <app-events-list-cards (toggleFilter)="toggleFilter()"
                           *ngIf="eventsFilterService.selectedView === 'cards'"></app-events-list-cards>
    <app-events-list-table (toggleFilter)="toggleFilter()"
                           *ngIf="eventsFilterService.selectedView === 'list'"></app-events-list-table>
</div>

<app-new-event-button/>
