ul {
    padding: 2rem;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

li {
    border: 1px solid #DADADA;
    box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.25);;
}

.day-title {
    border-top: 1px solid #BBBFC2;
    border-bottom: 1px solid #BBBFC2;

    &:nth-of-type(1) {
        border-top: none;
    }

    h2 {
        font-family: 'CadizBlack';
        font-size: 1.5rem;
        margin: 8px 2rem;
    }
}
