@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

:host {
    display: flex;
}

.filter {
    padding: 2rem;
    width: 300px;
    max-width: 300px;
}

.events {
    flex-grow: 1;
    border-left: 1px solid #BBBFC2;
}
