.image-previews {
    display: flex;

    .image-preview {
        width: 190px;
        padding: 14px;
        margin-right: 25px;
        border: 1px solid #dee2e6;
        display: flex;
        flex-direction: column;

        .file-icon {
            text-align: center;

            svg {
                height: 77px;
            }
        }

        .filename {
            word-wrap: break-word;
            font-size: .85rem;
            flex-grow: 1;
        }

        .image-handle {
            text-align: right;
            margin-bottom: 6px;

            svg {
                cursor: grab;
            }
        }
    }
}
