.container {
    padding: 2rem;
}

.navi {
    display: flex;
}

.cancelled {
    background: #E42F2F;
    color: #FFF;
    font-size: 20px;
    line-height: 1.4;
    margin-left: 44px;
    padding: 6px 12px 4px;
}
