@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.container {
    padding: 2rem;
}

.navi {
    display: flex;
}

.cancelled {
    background: #E42F2F;
    color: #FFF;
    font-size: 20px;
    line-height: 1.4;
    margin-left: 44px;
    padding: 6px 12px 4px;
}

@include media-breakpoint-up(xl) {
    section.content-narrow {
        margin: -4rem auto;
    }
}
