<h1>S'annunziar</h1>

<form>
    <div class="mb-3">
        <label for="email" class="form-label">Adressa dad e-mail</label>
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Pled-clav</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password">
    </div>

    <div class="flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="login()">S'annunziar</button>
    </div>

</form>
