<section class="content-narrow">
    <h1>S'annunziar</h1>

    <ng-container *ngIf="errorMessage">
        <ngb-alert [type]="'danger'" [dismissible]="false">
            <b>{{ errorMessage.title }}.</b>
            {{ errorMessage.message }}
        </ngb-alert>
    </ng-container>

    <form [formGroup]="f" (ngSubmit)="login()">
        <div class="mb-3">
            <label for="email" class="form-label">Adressa dad e-mail</label>
            <input type="email" id="email" name="email" class="form-control" formControlName="email"
                   [class.is-invalid]="isFieldInvalid('email')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
                Endatescha tia adressa dad e-mail.
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Pled-clav</label>
            <input type="password" id="password" name="password" class="form-control" formControlName="password"
                   [class.is-invalid]="isFieldInvalid('password')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('password')">
                Endatescha tes pled-clav.
            </div>
        </div>

        <div class="flex justify-content-end">
            <button type="button" class="clndr accent" (click)="login()">S'annunziar</button>
        </div>
    </form>

    <div class="links">
        <a [routerLink]="'/u/register'">Crear in conto</a>
        <a [routerLink]="'/u/forgot-password'">Emblidà il pled-clav</a>
    </div>
</section>

