@if (event) {
  <a class="evt" [routerLink]="'/' + event.eventId" [class.first]="isFirst">
    <div class="image">
      <div class="img-holder">
        @if (event.isCancelled) {
          <div class="cancelled">{{ 'EVENT_DETAILS.CANCELLED' | translate }}</div>
        }
        @if (event.imageUrl) {
          <img src="{{ imgUrl }}" alt="{{ event.title }}" style="width: 100%">
        }
      </div>
    </div>
    <div class="description">
      <h3>{{ event.title }}</h3>
      <p class="location">{{ event.location }}
        @if (!event.location && event.onlineOnly) {
          online
        }
      </p>
      <div class="details">
        <div class="infos">
          <span class="time">{{ event.start ? event.start : 'tuttadi' }}</span>
          <div class="tags">
            @for (tag of event.genres; track tag) {
              <div class="tag">{{ tag.name }}</div>
            }
          </div>
        </div>
        <div class="arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="none">
            <path d="M1 8L29 8" stroke="#3CBFA4" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"></path>
            <path d="M22 1L29 8L22 15" stroke="#3CBFA4" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
    </div>
  </a>
}
