<a *ngIf="event" class="evt" [routerLink]="'/' + event.eventId" [class.first]="isFirst">
    <div class="image">
        <div class="img-holder" style="background-image: url('')"></div>
    </div>
    <div class="description">
        <h3>{{ event.title }}</h3>

        <p class="location">{{ event.location }}</p>
        <div class="details">
            <div class="infos">
                <span class="time">19:30</span>
                <div class="tags">
                    <div class="tag" *ngFor="let tag of event.genres">{{ tag.name }}</div>
                </div>
            </div>
            <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="none">
                    <path d="M1 8L29 8" stroke="#3CBFA4" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M22 1L29 8L22 15" stroke="#3CBFA4" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                </svg>
            </div>
        </div>
    </div>
</a>
