<section class="content-narrow">
    <h1>Emblidà il pled-clav</h1>


    <form [formGroup]="f" *ngIf="!didSendRequest" (ngSubmit)="resetPassword()">
        <div class="mb-3">
            <label for="email" class="form-label">Adressa dad e-mail</label>
            <input type="email" id="email" name="email" class="form-control" formControlName="email"
                   [class.is-invalid]="isFieldInvalid('email')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
                Endatescha tia adressa dad e-mail.
            </div>
        </div>

        <div class="flex justify-content-end">
            <button type="button" class="clndr accent" (click)="resetPassword()" [disabled]="isSendingRequest">
                Redefinir il pled-clav
            </button>
        </div>
    </form>

    <ng-container *ngIf="didSendRequest">
        <p>
            Nus avain tramess in e-mail a {{ f.value.email }} cun in link per redefinir il pled-clav.
        </p>
    </ng-container>
</section>
