@if (iframeService.isShowSearchValue() || iframeService.isShowViewSelectionValue()) {
  <div class="filter-menu">
    @if (iframeService.isShowSearchValue()) {
      <button class="filter-button d-none d-md-block" (click)="openDesktopFilter()"
        [class.active]="eventsFilterService.numberOfFilters > 0"
        >
        @if (eventsFilterService.isFilterCollapsed) {
          <span class="txt"
          >{{ 'EVENT_LIST.SHOW_FILTER' | translate }}</span>
        }
        @if (!eventsFilterService.isFilterCollapsed) {
          <span class="txt"
          >{{ 'EVENT_LIST.HIDE_FILTER' | translate }}</span>
        }
        @if (eventsFilterService.numberOfFilters > 0) {
          <span class="counter">
            {{ eventsFilterService.numberOfFilters }}
          </span>
        }
      </button>
    }
    @if (iframeService.isShowViewSelectionValue()) {
      <app-view-selection></app-view-selection>
    }
    @if (iframeService.isShowSearchValue()) {
      <button class="filter-button d-md-none" (click)="openMobileFilter()"
        [class.active]="eventsFilterService.numberOfFilters > 0"
        >
        <span class="txt">{{ 'EVENT_LIST.SHOW_FILTER' | translate }}</span>
        @if (eventsFilterService.numberOfFilters > 0) {
          <span class="counter">
            {{ eventsFilterService.numberOfFilters }}
          </span>
        }
      </button>
    }
  </div>
}

@for (cat of categorizedEvents; track cat; let i = $index) {
  <div class="day">
    <div class="day-title d-md-none" [class.first]="i === 0">
      <h2>{{cat.formattedDateShort}} <span class="weekday">{{cat.formattedWeekday}}</span></h2>
    </div>
    <div class="day-title-large d-none d-md-block">
      <h2>{{cat.formattedDateShort}}</h2>
      <div class="weekday">{{cat.formattedWeekday}}</div>
    </div>
    <ul>
      @for (event of cat.events; track event; let i = $index) {
        <li>
          <app-event-list-item [event]="event" [isFirst]="i === 0"></app-event-list-item>
        </li>
      }
    </ul>
  </div>
}

@if (categorizedEvents.length === 0 && !eventsFilterService.isSearching) {
  <app-no-events></app-no-events>
}

@if (eventsFilterService.hasMorePages) {
  <div class="text-center pb-5">
    <button class="clndr accent load-next-page" (click)="eventsFilterService.loadNextPage()"
      [disabled]="eventsFilterService.isSearching">{{ 'EVENT_LIST.LOAD_MORE' | translate }}
    </button>
  </div>
}
