<section class="content-wide">
    <h1>Differenzas tranter las versiuns</h1>

    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Titel</th>
            <td>
                <app-diff-field type="removed" [diff]="titleDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="titleDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Descripziun</th>
            <td>
                <app-diff-field type="removed" [diff]="descriptionDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="descriptionDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Categorias</th>
            <td>
                <app-diff-field type="removed" [diff]="genresDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="genresDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Regiuns</th>
            <td>
                <app-diff-field type="removed" [diff]="regionsDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="regionsDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Linguas</th>
            <td>
                <app-diff-field type="removed" [diff]="eventLanguagesDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="eventLanguagesDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Location</th>
            <td>
                <app-diff-field type="removed" [diff]="locationDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="locationDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Adressa</th>
            <td>
                <app-diff-field type="removed" [diff]="addressDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="addressDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Mo online</th>
            <td>
                <app-diff-field type="removed" [diff]="onlyOnlineDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="onlyOnlineDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Organisatur</th>
            <td>
                <app-diff-field type="removed" [diff]="organiserDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="organiserDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Pretsch</th>
            <td>
                <app-diff-field type="removed" [diff]="pricingDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="pricingDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Link</th>
            <td>
                <app-diff-field type="removed" [diff]="linkDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="linkDiff"></app-diff-field>
            </td>
        </tr>
        <tr>
            <th scope="row">Contact</th>
            <td>
                <app-diff-field type="removed" [diff]="contactDiff"></app-diff-field>
            </td>
            <td>
                <app-diff-field type="added" [diff]="contactDiff"></app-diff-field>
            </td>
        </tr>
        </tbody>
    </table>
</section>
