::ng-deep {
  .dropzone {
    border-radius: 10px;
    border: 1px dashed #667080;
    padding: 1rem;
  }

  .dropzone-content {
    display: flex;
    justify-content: center;

    .file-drop-icon {
      margin-right: 16px;
    }

    a {
      color: var(--accent) !important;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.dropzone-denied {
    border: 2px dashed red;
  }

  &.dropzone-allowed {
    border: 2px dashed green;
  }
}



