.image-previews {
    display: flex;

    .image-preview {
        max-width: 160px;
        padding: 5px;
        margin-right: 5px;
        border: 1px solid gray;
        display: flex;
        flex-direction: column;

        .filename {
            word-wrap: break-word;
            font-size: .85rem;
            flex-grow: 1;
        }

        .image-handle {
            text-align: right;

            svg {
                cursor: grab;
            }
        }
    }
}
