:host {
    display: flex;
    gap: 10px;
    align-items: center;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 0;
    flex-grow: 1;
}

.date-button {
    display: flex;
    height: 20px;
    padding: 2px 6px 2px 6px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--accent);
    color: var(--accent);
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;

    &:hover {
        background: var(--accent);
        color: white;

        svg {
            stroke: white;
        }
    }

    &.today {
        width: 25px;
        padding: 2px 6px 3px 6px;

        &.is-today {
            background: var(--accent);
            color: white;
        }
    }

    svg {
        float: left;
        stroke: var(--accent);
    }
}
