<h2>{{ date }}</h2>

<div class="date-button last" (click)="back()">
    <svg fill="none" height="13" viewBox="0 0 6 13" width="6" xmlns="http://www.w3.org/2000/svg">
        <path d="m5.50024 11.7856-4.999996-5.49996 4.999996-5.499996" stroke-linecap="round"
              stroke-linejoin="round"/>
    </svg>
</div>

<div class="date-button today" [class.is-today]="isToday" (click)="today()">
    oz
</div>

<div class="date-button next" (click)="forward()">
    <svg fill="none" height="13" viewBox="0 0 6 13" width="6" xmlns="http://www.w3.org/2000/svg">
        <path d="m.500244 11.7856 4.999996-5.49996-4.999995-5.499996" stroke-linecap="round"
              stroke-linejoin="round"/>
    </svg>
</div>
