<div class="filter-menu" *ngIf="iframeService.isShowSearchValue() || iframeService.isShowViewSelectionValue()">
    <button class="filter-button d-none d-md-block" (click)="openDesktopFilter()"
            [class.active]="eventsFilterService.numberOfFilters > 0"
            *ngIf="iframeService.isShowSearchValue()">
        <span class="txt"
              *ngIf="eventsFilterService.isFilterCollapsed">{{ 'EVENT_LIST.SHOW_FILTER' | translate }}</span>
        <span class="txt"
              *ngIf="!eventsFilterService.isFilterCollapsed">{{ 'EVENT_LIST.HIDE_FILTER' | translate }}</span>
        <span class="counter" *ngIf="eventsFilterService.numberOfFilters > 0">
            {{ eventsFilterService.numberOfFilters }}
        </span>
    </button>

    <app-view-selection *ngIf="iframeService.isShowViewSelectionValue()"></app-view-selection>

    <button class="filter-button d-md-none" (click)="openMobileFilter()"
            [class.active]="eventsFilterService.numberOfFilters > 0"
            *ngIf="iframeService.isShowSearchValue()">
        <span class="txt">{{ 'EVENT_LIST.SHOW_FILTER' | translate }}</span>
        <span class="counter" *ngIf="eventsFilterService.numberOfFilters > 0">
            {{ eventsFilterService.numberOfFilters }}
        </span>
    </button>
</div>

<ng-container *ngFor="let cat of categorizedEvents; let i = index">
    <div>
        <div class="day-title" [class.first]="i === 0" [class.iframe]="iframeService.isIframeValue()" scrollableTitle>
            <!--<h2>{{cat.formattedDate}}</h2>-->
            <h2>{{cat.formattedDateShort}} <span class="weekday">{{ cat.formattedWeekday }}</span></h2>
        </div>
        <ul>
            <li *ngFor="let event of cat.events; let i = index">
                <app-event-card [event]="event" [isFirst]="i === 0"></app-event-card>
            </li>
        </ul>
    </div>
</ng-container>

<ng-container *ngIf="categorizedEvents.length === 0 && !eventsFilterService.isSearching">
    <div class="no-events-hack">
        <div class="day-title first"></div>
        <app-no-events></app-no-events>
    </div>
</ng-container>

<div class="text-center pb-5" *ngIf="eventsFilterService.hasMorePages">
    <button class="clndr accent load-next-page" (click)="eventsFilterService.loadNextPage()"
            [disabled]="eventsFilterService.isSearching">
        {{ 'EVENT_LIST.LOAD_MORE' | translate }}
    </button>
</div>
