<h1>Registrar in'occurrenza</h1>
<p>Ti n'ès anc betg s'annunzià sin la pagina. </p>

<div class="grid gap-4 mt-6">
  <div class="col card bg-green-100 p-4">
    <p class="text-center">Cuntinuar</p>
    <h2 class="text-center text-xl font-heading">cun s'annunziar</h2>
    <p class="mt-6 mb-6 text-center">
      Ti pos adina puspè actualisar/midar tia occurrenza.
    </p>

    <div class="text-center">
      <p-button label="S'annunziar"></p-button>
    </div>
  </div>
  <div class="col card bg-red-200 p-4">
    <p class="text-center">Cuntinuar</p>
    <h2 class="text-center text-xl font-heading">senza s'annunziar</h2>
    <p class="mt-6 mb-6 text-center">
      Ti na pos pli tard betg pli midar tia occurrenza.
    </p>

    <div class="text-center">
      <p-button label="Registrar senza s'annunziar"></p-button>
    </div>
  </div>
</div>
