span.button {
    margin-right: 12px;

    &.inactive {
        &:hover {
            cursor: default;
        }

        &.stroke svg {
            stroke: gray;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &.stroke {
        svg {
            stroke: var(--accent);
        }
    }
}

.vr {
    margin-right: 12px;
    height: 20px;
    bottom: -6px;
    position: relative;
}
