span.button {
  margin-right: 12px;

  &.inactive {
    &:hover {
      cursor: default;
    }

    &.fill svg {
      fill: gray;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.fill {
    svg {
      fill: var(--accent);
    }
  }
}

.vr {
  margin-right: 12px;
  height: 20px;
  bottom: -6px;
  position: relative;
}
