h2 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 36px;
}

.occurrence-item {
  border-left: 3px solid black;
  margin-bottom: 16px;
}

.form-input-no-margin {
  margin-left: 0;
  margin-right: 8px;
}

.no-label {
  margin-top: 36px;
}
