<section class="content-narrow">
    <h1>Decleraziun davart la protecziun da datas</h1>
    <p>
        Nus prendain serius la protecziun da Vossas datas e sa basain sin las directivas legalas vertentas. Nus vulain
        che Vus As sentias segira e segir durant che Vus faschais diever da nossas purschidas. Perquai chattais Vus qua
        tut las infurmaziuns en detagl:
    </p>
    <p>
        Protecziun da datas SRG SSR / Datenschutz SRG SSR:<br>
        <a href="https://www.srgssr.ch/rm/decleraziun-davart-la-protecziun-da-datas" target="_blank">
            www.srgssr.ch/rm/decleraziun-davart-la-protecziun-da-datas
        </a>
    </p>

    <p style="margin-top: 3rem;">
        Sche Vus avais dumondas concretas areguard la protecziun da datas tar RTR, pudais Vus gugent contactar nus sco
        suonda:
    </p>

    <p>
        Contact da la protecziun da datas tar RTR<br>
        Radiotelevisiun Svizra Rumantscha<br>
        Via da Masans 2 CH-7000 Cuira<br>
        e-mail: <a href="mailto:protecziun.datas@rtr.ch" target="_blank">protecziun.datas&#64;rtr.ch</a><br>
    </p>
</section>
