<section class="content-narrow">
    <h1>Decleraziun da protecziun da datas</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur delectus exercitationem nulla odio
        officiis quis tempora vel voluptatem voluptates! Atque culpa eveniet fugit id, iusto magni quisquam. Quos,
        vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut beatae consequatur distinctio dolorem,
        et in minus modi nam praesentium quaerat repellendus saepe sapiente sed tenetur. Dolorum inventore possimus
        quod!</p>
</section>
