<section class="content-narrow">
    <div class="d-flex options">
        <div class="option">
            <h2>Cuntinuar cun s’annunziar</h2>
            <p class="mt-4 mb-5 description-text">
                Ti pos adina puspè actualisar/midar tia annunzia.
            </p>

            <div>
                <button type="button" class="clndr accent" (click)="login()">S’annunziar</button>
            </div>
        </div>
        <div class="option">
            <h2>Cuntinuar senza s’annunziar</h2>
            <p class="mt-4 mb-5 description-text">
                Ti na pos pli tard betg pli midar tia annunzia.
            </p>

            <div>
                <button type="button" class="clndr accent" (click)="createNotice()">Endatar senza s’annunziar</button>
            </div>
        </div>
    </div>
</section>
