<ng-container *ngIf="!isInIframe || enforceAddButton">
    <div class="fab" #fab [fabPosition]="!isInIframe" [class.on-top]="isInIframe">
        <div class="fab-inner">
            <div class="fab-menu" [routerLink]="'/user/new-notice'">
                {{ 'COMPONENTS.NEW_NOTICE_BTN.NEW_NOTICE' | translate }}
            </div>
            <a href="#" class="fab-button" #button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M16 6.48756V9.47263H9.52099V16H6.43951V9.47263H0V6.48756H6.43951V0H9.52099V6.48756H16Z"
                          fill="white"/>
                </svg>
            </a>
        </div>
    </div>

</ng-container>
