@import "styles/normalize";
@import "styles/fonts";
@import "styles/menu";
@import "styles/filter";


:root {
    --accent: #3CBFA4;
    --accent-60: #8AD9C8;
    --accent-30: #C4ECE4;

    --primary: #1C2B33;
    --primary-60: #778085;
    --primary-30: #BBBFC2;

    --danger: #D30000;
}

::selection {
    color: var(--bs-body-bg);
    background: var(--accent);
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import "styles/bootstrap-overrides";

html {
    overscroll-behavior: none;
}

body {
    background-color: white;
    font-family: Cadiz, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;

    #container {
        background-color: white;
        min-height: 100vh;
    }

    &.iframe {
        #container {
            min-height: unset;
        }
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.1rem;
    }
}


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;

    @include media-breakpoint-up(sm) {
        padding: 2rem;
    }
}

section.content-narrow {
    padding: 0 0.5rem;
    margin: 0 0 1rem 0;

    @include media-breakpoint-up(lg) {
        padding: unset;
        max-width: 900px;
        margin: 0 auto 2rem;
    }
}

section.content-limited {
    padding: 0 0.5rem;

    @include media-breakpoint-up(lg) {
        padding: unset;
        max-width: 1200px;
        margin: 2rem auto;
    }
}

section.content-wide {
    margin: 2rem;
}

#content > app-messages > section > ngb-alert {
    margin-top: 1rem;

    @include media-breakpoint-up(lg) {
        margin-top: 2rem;
    }
}

h1 {
    font-family: "CadizBlack", sans-serif;
    font-size: 1.8rem;
    line-height: 1.1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
        font-size: 2.2rem;
        padding-bottom: 2rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 2.8rem;
    }
}

h2 {
    font-family: "CadizBlack", sans-serif;
}

h4 {
    font-family: "CadizBlack", sans-serif;
}

a {
    color: var(--accent);
    text-decoration: none;

    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}

table {
    thead {
        tr {
            font-family: "CadizBlack", sans-serif;
        }
    }
}

button.clndr {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: 2rem;

    @media (hover: hover) {
        &:hover {
            border: 1px solid var(--accent);
            color: var(--accent);
        }
    }

    &:disabled, &.accent:disabled {
        border: 1px solid grey;
        color: gray;
        background-color: white;

        @media (hover: hover) {
            &:hover {
                border: 1px solid grey;
                color: gray;
                background-color: white;
            }
        }
    }

    &.accent {
        border: 1px solid var(--accent);
        color: var(--accent);

        @media (hover: hover) {
            &:hover {
                background-color: var(--accent);
                color: white;
            }
        }
    }

    &.danger {
        border: 1px solid var(--danger);
        color: var(--danger);

        @media (hover: hover) {
            &:hover {
                background-color: var(--danger);
                color: white;
            }
        }
    }
}

.form-check-input:checked {
    background-color: var(--accent);
    border-color: var(--accent);
}

.form-check-input:focus {
    border-color: var(--bs-border-color);
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color);
    outline: 0;
    box-shadow: 0 0 0 .25rem #3cbfa43d;
}

.tag-element {
    border: 1px solid black;
    color: black;
    padding: 3px 8px;
    margin: 0 8px;
    // clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    position: relative;

    flex-wrap: wrap;
    white-space: nowrap;

    &.active {
        border: 1px solid var(--accent);
        color: var(--accent);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-top: 8px solid var(--accent);
            border-left: 8px solid white;
            width: 0;
        }
    }
}


#menu-button {
    .line {
        fill: none;
        stroke: black;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    &.opened {
        .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
            stroke: white;
        }

        .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
            stroke: white;
        }

        .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
            stroke: white;
        }
    }
}

.diff {
    .added {
        background-color: #cbffcb;
    }

    .removed {
        background-color: #ffbebe;
    }
}


// drag drop
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    min-width: 150px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.image-previews.cdk-drop-list-dragging .image-preview:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview.image-preview {
    width: 190px;
    padding: 14px;
    margin-right: 25px;
    border: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    border-radius: var(--bs-border-radius);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;

    .filename {
        word-wrap: break-word;
        font-size: .85rem;
        flex-grow: 1;
    }

    .actions {
        span {
            margin-right: 5px;
        }
    }
}


// popover
ngb-popover-window.popover {
    background-color: #D9D9D9;

    .popover-arrow {
        &::before {
            border-right-color: #D9D9D9;
        }

        &:after {
            border-right-color: #D9D9D9;
        }
    }
}

// modal
.modal {
    --bs-modal-padding: 1.5rem;
    --bs-modal-header-padding: 1rem 1.5rem;
    --bs-modal-margin: 1.5rem;
}

// close-button (e.g. in modal)
.btn-close {
    --bs-btn-close-focus-shadow: none;
}
