@import "styles/normalize";
@import "styles/fonts";


:root {
    --accent: #3CBFA4;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    background-color: #9a9a9a;
    font-family: Cadiz, sans-serif;
}

#container {
    background-color: white;
    min-height: 100vh;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

#content {
    // padding: 2rem;
}

h1 {
    font-family: "CadizBlack", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: "CadizBlack", sans-serif;
}

a {
    color: var(--accent);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button.clndr {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: 2rem;

    &:hover {
        border: 1px solid var(--accent);
        color: var(--accent);;
    }
}

.tag-element {
    border: 1px solid black;
    color: black;
    padding: 3px 8px;
    margin: 0 8px;
    // clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    position: relative;


    &.active {
        border: 1px solid var(--accent);
        color: var(--accent);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-top: 8px solid var(--accent);
            border-left: 8px solid white;
            width: 0;
        }
    }
}


#menu-button {
    .line {
        fill: none;
        stroke: black;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    &.opened {
        .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
            stroke: white;
        }

        .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
            stroke: white;
        }

        .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
            stroke: white;
        }
    }
}
