@import "styles/normalize";
@import "styles/fonts";
@import "styles/menu";
@import "styles/filter";


:root {
    --accent: #3CBFA4;
    --danger: #D30000;
    --primary-60: #778085;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import "styles/bootstrap-overrides";

html {
    overscroll-behavior: none;
}

body {
    background-color: white;
    font-family: Cadiz, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
}

#container {
    background-color: white;
    min-height: 100vh;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

#content {
    //min-height: calc(100vh - 124px - 81px - 2rem);
}

section.content-narrow {
    padding: 0 0.5rem;

    @include media-breakpoint-up(lg) {
        padding: unset;
        max-width: 900px;
        margin: 2rem auto;
    }
}

section.content-wide {
    margin: 2rem;
}

h1 {
    font-family: "CadizBlack", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: "CadizBlack", sans-serif;
}

a {
    color: var(--accent);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button.clndr {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: 2rem;

    &:hover {
        border: 1px solid var(--accent);
        color: var(--accent);
    }

    &:disabled, &.accent:disabled {
        border: 1px solid grey;
        color: gray;
        background-color: white;

        &:hover {
            border: 1px solid grey;
            color: gray;
            background-color: white;
        }
    }

    &.accent {
        border: 1px solid var(--accent);
        color: var(--accent);

        &:hover {
            background-color: var(--accent);
            color: white;
        }
    }

    &.danger {
        border: 1px solid var(--danger);
        color: var(--danger);

        &:hover {
            background-color: var(--danger);
            color: white;
        }
    }
}

.tag-element {
    border: 1px solid black;
    color: black;
    padding: 3px 8px;
    margin: 0 8px;
    // clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    position: relative;

    flex-wrap: wrap;
    white-space: nowrap;

    &.active {
        border: 1px solid var(--accent);
        color: var(--accent);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-top: 8px solid var(--accent);
            border-left: 8px solid white;
            width: 0;
        }
    }
}


#menu-button {
    .line {
        fill: none;
        stroke: black;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    &.opened {
        .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
            stroke: white;
        }

        .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
            stroke: white;
        }

        .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
            stroke: white;
        }
    }
}

.diff {
    .added {
        background-color: #cbffcb;
    }

    .removed {
        background-color: #ffbebe;
    }
}


// drag drop
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    min-width: 150px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.image-previews.cdk-drop-list-dragging .image-preview:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview.image-preview {
    max-width: 160px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;

    .filename {
        word-wrap: break-word;
        font-size: .85rem;
        flex-grow: 1;
    }

    .image-handle {
        text-align: right;
    }
}
