.links {
  margin-top: 3rem;

  a {
    margin-right: 2rem;
  }
}

.danger-zone {
  margin-top: 5rem;
  color: #C10202;

  span {
    font-family: "CadizBlack", sans-serif;
  }

  a {
    color: #C10202;
  }
}
