<div class="modal-header" *ngIf="event">
    <h4 class="modal-title" *ngIf="type === 'accept'">Remartga cun acceptar</h4>
    <h4 class="modal-title" *ngIf="type === 'refuse'">Remartga cun refusar</h4>
    <h4 class="modal-title" *ngIf="type === 'edit'">Remartga cun modifitgar</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body" *ngIf="event">
    <form [formGroup]="f">
        <p *ngIf="type === 'accept'">
            Trametter ina remartga cun acceptar l'eveniment «{{event.title}}»?
        </p>

        <p *ngIf="type === 'refuse'">
            Trametter ina remartga cun refusar l'eveniment «{{event.title}}»?
        </p>

        <p *ngIf="type === 'edit'">
            Trametter ina remartga cun modifitgar l'eveniment «{{event.title}}»?
        </p>

        <div class="form-check" *ngFor="let reason of reasons; let i=index">
            <input class="form-check-input" type="radio" id="reason-{{i}}" formControlName="reason" name="reason"
                   [value]="reason">
            <label class="form-check-label" for="reason-{{i}}">
                {{reason.description}}
            </label>
        </div>

        <div class="mb-3" *ngIf="f.controls['comment'].enabled">
            <label for="comment" class="form-label">Remartga persunalisada</label>
            <input formControlName="comment" type="email" class="form-control" id="comment"
                   [class.is-invalid]="isFieldInvalid('comment')">
            <div class="invalid-feedback" *ngIf="isFieldInvalid('comment')">
                Endatescha p.pl. ina remartga (u tscherneer in auter motiv sura).
            </div>
        </div>
    </form>

    <div class="buttons">
        <button type="button" class="clndr" (click)="activeModal.dismiss('')">Interrumper</button>
        <button type="button" class="clndr accent" (click)="acceptReason()">Memorisar</button>
    </div>
</div>
