h2, label.title {
    font-family: "CadizBlack", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 36px;
}

fieldset > div {
    display: flex;
    align-items: baseline;
}

input[type="radio"] {
    margin-right: 8px;
}

.buttons {
    margin-top: 48px;
    display: flex;
    justify-content: flex-end;

    button.accent {
        margin-right: 0;
    }
}
