.back-button {
    display: inline-block;
    padding-left: 20px;
    padding-right: 8px;
    width: 99px;
    height: 44px;
    position: relative;
    color: var(--accent);;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.3s ease-in-out;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='none' height='44' viewBox='0 0 99 44' width='99' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m.60516 22 14.65914-21.5h83.2357v43h-83.2357z' stroke='%233cbfa4'/%3e%3c/svg%3e") no-repeat;

    &:hover {
        color: white;
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='none' height='44' viewBox='0 0 99 44' width='99' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m.60516 22 14.65914-21.5h83.2357v43h-83.2357z' fill='%233cbfa4' stroke='%233cbfa4'/%3e%3c/svg%3e") no-repeat;
    }
}
